@import "~react-custom-scroll/dist/customScroll.css";

.custom-scroll .custom-scrollbar {
  width: 6px;
}

.custom-scroll .inner-handle {
  background-color: black;
}

.content-wrapper {
  height: 90% !important;
}
